[Desktop Entry]
Name=StarSpaceDiamond
Comment=Game about a ship that's in space that does things in space in a game about a ship that's in space that's a ship, and a game
Exec=starspacediamond
Icon=starspacediamond
Type=Application
Categories=Game;
